.cbanner {

    &__inner-wrapper {
        background-image: url(./../../images/Bitmap.png);
        width: 1280px;
        height: 600px;
        border-radius: 10px;
        background-size: cover;
        margin-bottom: 136px;
    }

    &__text-wrapper {
        padding: 117px 702px 117px 85px;
        max-width: 493px;
    }

    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        width: 493px;
        margin-bottom: 32px;
    }

    &__text {
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        width: 493px;
        margin-bottom: 55px;
    }

    &__button {
        padding: 16px 31px;
        text-decoration: none;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        background-color: $dark-cyan;
        width: 217px;
        display: inline-block;
        border-radius: 6px;
    }

    &__button:hover {
        background-color: $button-hover;
    }

    &__button:active {
        background-color: $button-active;
    }

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      
        &__inner-wrapper        { background-image: url(./../../images/Bitmap@2.jpg);} 
    }
}
