.choose {

    &__inner-wrapper {
        display: flex;
        flex-direction: column;
        background-color: #2C343E;
        border-radius: 10px;
        max-width: 1280px;
        width: 100%;
        height: 577px;
        position: relative;
        margin-bottom: 351px;
    }

    &__top {
        padding: 100px 370px 317px 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    }

    &__top-heading {
        width: 329px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin-bottom: 32px;
    }

    &__top-text {
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        width: 540px;
    }

    &__bottom {
        display: inline-block;
        position: absolute;
        bottom: -151px;
        margin-right: 85px;
        margin-left: 65px;
    }

    &__list {
        max-width: 1151px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__bottom-item {
        width: 350px;
        background-color: #0E8784;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-right: 30px;
    }

    &__bottom-item:last-child {
        margin-right: 0px;
    }

    &__item-heading-1 {
        padding-top: 124px;
        width: 255px;
        font-family: 'Fraunces';
        font-style: normal;
        position: relative;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #FEFCF7;
        margin-top: 76px;
        margin-bottom: 24px;
    }

    &__item-heading-1::before {
        content: "";
        display: inline-block;
        background-image: url(./../../images/bg1.svg);
        width: 72px;
        height: 72px;
        background-size:contain;
        position: absolute;
        top: 0;
        left: 89px;
        background-repeat: no-repeat;
    }

    &__item-heading-2 {
        padding-top: 124px;
        width: 255px;
        font-family: 'Fraunces';
        font-style: normal;
        position: relative;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #FEFCF7;
        margin-top: 76px;
        margin-bottom: 24px;
    }

    &__item-heading-2::before {
        content: "";
        display: inline-block;
        background-image: url(./../../images/bg2.svg);
        width: 72px;
        height: 72px;
        background-size:contain;
        position: absolute;
        top: 0;
        left: 89px;
        background-repeat: no-repeat;
    }

    &__item-heading-3 {
        padding-top: 124px;
        width: 255px;
        font-family: 'Fraunces';
        font-style: normal;
        position: relative;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #FEFCF7;
        margin-top: 76px;
        margin-bottom: 24px;
    }

    &__item-heading-3::before {
        content: "";
        display: inline-block;
        background-image: url(./../../images/bg3.svg);
        width: 72px;
        height: 72px;
        background-size:contain;
        position: absolute;
        top: 0;
        left: 89px;
        background-repeat: no-repeat;
    }

    &__item-text {
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        width: 255px;
        padding-bottom: 48px;
    }
}

@media only screen and (max-width: 800px) {
    /* TABLET */

    .choose {

        &__inner-wrapper {
            display: flex;
            flex-direction: column;
            background-color: #2C343E;
            border-radius: 10px;
            max-width: 688px;
            width: 100%;
            height: 863px;
            position: relative;
            margin-bottom: 287px;
        }
    
        &__top {
            padding: 56px 74px 368px 74px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
        }
    
        &__top-heading {
            max-width: 264px;
            width: 100%;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
            color: #FEFCF7;
            margin-bottom: 32px;
        }
    
        &__top-text {
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            max-width: 540px;
            width: 100%;
        }
    
        &__bottom {
            display: inline-block;
            position: absolute;
            top: calc(375px);
            margin-right: 58px;
            margin-left: 58px;
        }
    
        &__list {
            display: inline-block;
            max-width: 573px;
            width: 100%;
        }
    
        &__bottom-item {
            max-width: 573px;
            width: 100%;
            height: 180px;
            background-color: #0E8784;
            border-radius: 8px;
            display: flex;
            align-items: flex-end;
            margin-right: 0;
            margin-bottom: 24px;
        }
        
        &__bottom-item-wrapper {
            margin: 41px 48px 41px 181px;
            max-width: 344px;
            width: 100%;
        }
    
        &__item-heading-1 {
            padding-top: 0px;
            max-width: 255px;
            width: 100%;
            font-family: 'Fraunces';
            font-style: normal;
            position: relative;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 76px;
            margin-bottom: 16px;
            text-align: start;
        }
    
        &__item-heading-1::before {
            content: "";
            display: inline-block;
            background-image: url(./../../images/bg1.svg);
            max-width: 56px;
            width: 100%;
            height: 56px;
            background-size:contain;
            position: absolute;
            background-position: calc(100%) calc(100%);
            left: -112px;
            background-repeat: no-repeat;
        }
    
        &__item-heading-2 {
            text-align: start;
            padding-top: 0px;
            max-width: 255px;
            width: 100%;
            font-family: 'Fraunces';
            font-style: normal;
            position: relative;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 76px;
            margin-bottom: 16px;
        }
    
        &__item-heading-2::before {
            content: "";
            display: inline-block;
            background-image: url(./../../images/bg2.svg);
            max-width: 56px;
            width: 100%;
            height: 56px;
            background-size:contain;
            position: absolute;
            background-position: calc(100%) calc(100%);
            left: -112px;
            background-repeat: no-repeat;
        }
    
        &__item-heading-3 {
            text-align: start;
            padding-top: 0px;
            max-width: 255px;
            width: 100%;
            font-family: 'Fraunces';
            font-style: normal;
            position: relative;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 76px;
            margin-bottom: 16px;
        }
    
        &__item-heading-3::before {
            content: "";
            display: inline-block;
            background-image: url(./../../images/bg3.svg);
            max-width: 56px;
            width: 100%;
            height: 56px;
            background-size:contain;
            position: absolute;
            background-position: calc(100%) calc(100%);
            left: -112px;
            background-repeat: no-repeat;
        }
    
        &__item-text {
            max-width: 344px;
            width: 100%;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            padding-bottom: 48px;
            text-align: start;
        }
    }
    
}

@media only screen and (max-width: 400px) {
    /* MOBILE */

    .choose {

        &__inner-wrapper {
            display: flex;
            flex-direction: column;
            background-color: #2C343E;
            border-radius: 10px;
            max-width: 327px;
            width: 100%;
            height: 902px;
            position: relative;
            margin-bottom: 717px;
        }
    
        &__top {
            padding: 64px 24px 661px 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
        }
    
        &__top-heading {
            max-width: 264px;
            width: 100%;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 28px;
            color: #FEFCF7;
            margin-bottom: 32px;
        }
    
        &__top-text {
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            max-width: 279px;
            width: 100%;
        }
    
        &__bottom {
            display: inline-block;
            position: absolute;
            top: 375px;
            margin-right: 24px;
            margin-left: 24px;
        }
    
        &__list {
            display: inline-block;
            max-width: 279px;
        }
    
        &__bottom-item {
            width: 279px;
            height: 382px;
            background-color: #0E8784;
            border-radius: 8px;
            display: flex;
            align-items: center;
            margin-right: 0;
            margin-bottom: 24px;
            position: relative;
        }
        
        &__bottom-item-wrapper {
            margin: 200px 12px 51px 12px;
            max-width: 255px;
            width: 100%;
        }
    
        &__item-heading-1 {
            padding-top: 0px;
            width: 255px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 76px;
            margin-bottom: 16px;
            text-align: center;
        }
    
        &__item-heading-1::before {
            content: "";
            display: inline-block;
            background-image: url(./../../images/bg1.svg);
            width: 72px;
            height: 72px;
            background-size:contain;
            position: absolute;
            left: 95px;
            top: -128px;
            background-repeat: no-repeat;
        }
    
        &__item-heading-2 {
            text-align: center;
            padding-top: 0px;
            max-width: 255px;
            width: 100%;
            font-family: 'Fraunces';
            font-style: normal;
            position: relative;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 76px;
            margin-bottom: 16px;
        }
    
        &__item-heading-2::before {
            content: "";
            display: inline-block;
            background-image: url(./../../images/bg2.svg);
            width: 56px;
            height: 56px;
            background-size:contain;
            position: absolute;
            left: 95px;
            top: -128px;
            background-repeat: no-repeat;
        }
    
        &__item-heading-3 {
            text-align: center;
            padding-top: 0px;
            max-width: 255px;
            width: 100%;
            font-family: 'Fraunces';
            font-style: normal;
            position: relative;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 76px;
            margin-bottom: 16px;
        }
    
        &__item-heading-3::before {
            content: "";
            display: inline-block;
            background-image: url(./../../images/bg3.svg);
            width: 56px;
            height: 56px;
            background-size:contain;
            position: absolute;
            left: 95px;
            top: -128px;
            background-repeat: no-repeat;
        }
    
        &__item-text {
            max-width: 344px;
            width: 100%;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            padding-bottom: 48px;
            text-align: center;
        }
    }
}