.drink {

    &__container {
        padding-left: 85px;
        padding-right: 85px;
    }

    &__inner-container {
        display: flex;
    }

    &__container-left {
        max-width: 255px;
        margin-right: 125px;
    }

    &__list-left {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 20px;
    }

    &__item-left {
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid #83888F;
        opacity: 0.4;
        &:last-child {
            border-bottom: none;
        }
    }

    &__link-left {
        text-decoration: none;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }

    &__item-number {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-right: 24.5px;
    }

    &__number--active {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #0E8784;
    }

    &__item--active {
        opacity: 1;
    }

    &__container-right {
        max-width: 730px;
    }

    &__container-heading {
        display: flex;
        margin-bottom: 56px;
        align-items: center;
        justify-content: space-between;
        max-width: 710px;
    }

    &__heading-right {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
    }

    &__input-container {
        max-width: 730px;
        display: flex;
        justify-content: space-between;
    }

    .drink__input {
        opacity: 0;
        z-index: -1;
    }

    .drink__input:checked + .drink__input-text {
        color: #FFFFFF;
    }

    .drink__input:checked + .drink__input-heading {
        color: #FFFFFF;
    }
    
    input:checked + .drink__input-wrapper {
        
    }
    &__input-label:hover {
        background-color:#0E8784;
    }
    &__input-label {
        display: inline-block;
        width: 228px;
        background: #F4F1EB;
        border-radius: 8px;
        margin-bottom: 88px;
        padding-top: 32px;
        padding-right: 28px;
        padding-bottom: 84px;
        padding-left: 28px;
        margin-right: 23px;
        transition: all 1s;
    }

    &__input-heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin-bottom: 24px;
        width: 180px;
    }

    &__input-text {
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }
}
