.works {

    &__container {
        padding-right: 117.5px;
        padding-left: 117.5px;
    }

    &__inner-wrapper {
        margin-bottom: 200px;
    }

    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 80px;
    }

    &__plan {
        
    }

    &__list {
        display: flex;
        margin-bottom: 64px;
    }

    &__item {
        width: 380px;
        padding-right: 95px;
        position: relative;
    }

    &__item--circle {
        display: inline-block;
        width: 31px;
        height: 31px;
        background-image: url(./../../images/Oval.svg);
        margin-bottom: 67px;
    }

    &__item--circle::after {
        content: "";
        display: inline-block;
        height: 2px;
        width: 100%;
        background-color: $pale-orange;
        position: absolute;
        z-index: -1;
        top: 15px;
    }

    &__item--circle-1 {
        display: inline-block;
        width: 31px;
        height: 31px;
        background-image: url(./../../images/Oval.svg);
        margin-bottom: 67px;
    }

    &__item-number {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        margin-bottom: 38px;
    }

    &__item-heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        margin-bottom: 42px;
        width: 255px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        width: 285px;
    }

    &__item-button {
        padding: 16px 31px;
        text-decoration: none;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        background-color: $dark-cyan;
        width: 217px;
        display: inline-block;
        border-radius: 6px;
    }

    &__item-button:hover {
        background-color: $button-hover;
    }

    &__item-button:active {
        background-color: $button-active;
    }
}

